body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(162, 255, 169);
}

#name_greetings{
    text-align: center !important;
}   

#name_description{
    text-align: center;
    font-size: 25px !important;
}

#introduction{
    font-size: 20px !important;
}

#intro_description{
    font-size: 20px !important;
}

#about_me{
    font-size: 20px !important;
}

#experience_list{
    margin-left: 20px !important;
}

.list_description{
    font-size: 20px !important;
}

.introduction_and_description{
    margin-left: 20px !important;
}

.fa-brands fa-linkedin{
    font-size: 50px !important;
}

#connect_with_me{
    margin-top: 20px !important;
    text-align: center !important;
}

#learning_journey{
    margin-left: 20px !important;
}

.Learning_Journey{
    margin-left: 20px !important;
    font-size: 20px !important;
}

.Learning_Journey_class{
    margin-left: 20px !important;
    font-size: 20px !important;
}
